<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
			<li class="active">Giỏ hàng</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
	<div class="container">
		<h3 id="lengthCart" class="animated wow slideInLeft" data-wow-delay=".5s">Giỏ hàng đang có <span>3 sản
				phẩm</span></h3>
		<div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>SL No.</th>
						<th>Sản phẩm</th>
						{{!-- <th>Loại</th> --}}
						<th>Tên sản phẩm</th>

						<th>Gía</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody id="listCart">
					<tr class="rem1">
						<td class="invert">1</td>
						<td class="invert-image"><a href="/single"><img src="images/22.jpg" alt=" "
									class="img-responsive" /></a></td>
						{{!-- <td class="invert">
							 <div class="quantity"> 
								<div class="quantity-select">                           
									<div class="entry value-minus">&nbsp;</div>
									<div class="entry value"><span>1</span></div>
									<div class="entry value-plus active">&nbsp;</div>
								</div>
							</div>
						</td> --}}
						<td class="invert">Black Shoe</td>

						<td class="invert">$290.00</td>
						<td class="invert">
							<div class="rem">
								<div class="close1"> </div>
							</div>

						</td>
					</tr>
				</tbody>
				<!--quantity-->
				<script>
					$('.value-plus').on('click', function () {
						var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
						divUpd.text(newVal);
					});

					$('.value-minus').on('click', function () {
						var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
						if (newVal >= 1) divUpd.text(newVal);
					});
				</script>
				<!--quantity-->
			</table>
		</div>
		<div class="checkout-left">
			<div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
				
					<h4>Thanh toán</h4>
					<ul id="bill">
						<li>Sản phẩm 1 <i>-</i> <span>$250.00 </span></li>
						<li>Sản phẩm 2 <i>-</i> <span>$290.00 </span></li>
						<li>Sản phẩm 3 <i>-</i> <span>$299.00 </span></li>


					</ul>
				
				<h5 id="totalPrice">Tổng tiền : <span>$854.00</span></h5>
			</div>

			<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
				<a href="/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp tục mua
					sắm</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //checkout -->